//For admin color picker color swatches add colors in admin/global.scss

$white: #fff;
$black: #000;
$gray-light: #f5f5f5;
$gray: #666;
$gray-dark: #2b383b;

$orange: #F15C28;
$yellow: #fc0;
$red: #f43319;
$green: #2dcb48;
$blue-light: #EFF6FC;
$blue: #44749D;
$blue-dark: #2E3192;

$primary: $orange;
$secondary: $blue;

$success: $green;
$warning: $yellow;
$danger: $red;

$body-color: $black;
$link-color: $primary;
$link-decoration: none;
$link-hover-color: $secondary;
