footer {
  margin-bottom: 0!important;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include media-breakpoint-up(md) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .widget_nav_menu {
    ul {
      @include list-unstyled;

      li {
        @extend .nav-item;

        @include wp-current-menu-item {
          > a {
            text-decoration: underline;
            text-decoration-color: #fff;
            text-underline-offset: 4px;
          }
        }
      }

      a {
        @extend .nav-link;

        @include hover-focus-active {
          text-decoration: underline;
        }
      }

      .sub-menu {
        display: none;
      }
    }

    .menu-main-menu-container {
      > ul {
        @include media-breakpoint-up(md) {
          display: grid;
          grid-gap: 1rem;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
