//WCAG bypass repeated blocks with keyboard-only
.skip-to-content {
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;

  &:focus-within {
    + header.banner {
      top: 40px;
    }
  }
}

header.banner {
  @include theme-transition(transform, 0.2s, ease-in-out);

  border-bottom: 1px solid $gray-light;

  .btn-search {
    svg {
      path {
        stroke: $white;
      }
    }
  }
}

.navbar-brand {
  --bs-navbar-brand-margin-end: 0;
  --bs-navbar-brand-padding-y: 0;

  position: relative;

  .navbar-brand-inner {
    @include media-breakpoint-up(xl) {
      background-color: $white;
      position: absolute;
      left: 0;
      top: -43px;
      width: 205px;
      height: 135px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $gray-light;
      border-right: 1px solid $gray-light;
      border-left: 1px solid $gray-light;
      @include theme-transition(height);

      body.not-top & {
        height: 110px;
      }
    }

    img {
      @include media-breakpoint-down(xl) {
        max-width: 80px;
      }
    }
  }
}

.toggle-search-form {
  right: 0;
  top: 100%;
  z-index: 1;
  @include media-breakpoint-up(lg) {
    top: calc(100% - 0px);
  }

  .inner-container {
    @include media-breakpoint-up(lg) {
      width: 300px;
    }
  }
}

.not-top.scrolled-down {
  header.banner {
    @include media-breakpoint-up(xl) {
      transform: translateY(-44px);

      .navbar-primary {
        .navbar-nav > li > a {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
  }
}

.admin-bar {
  header.banner {
    top: 46px;
    @include media-breakpoint-up(md) {
      top: 32px;
    }
  }

  &.not-top {
    header.banner {
      top: 0;
      @media (width >= 600px) {
        top: 46px;
      }
      @include media-breakpoint-up(md) {
        top: 32px;
      }
    }
  }
}
