.page-header {
  h1 {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

//Top image
.top-image {
  margin-bottom: 3rem;
  text-align: center;

  img {
    width: 100%;
    object-fit: cover;
  }

  &.top-image-with-heading {
    h1 {
      margin-bottom: 0;
    }

    img {
      min-height: 240px;
    }
  }
}
