//Footer to bottom when little content
@include media-breakpoint-up(xl) {
  body,
  html,
  #app {
    height: 100%;
  }

  #app {
    display: flex;
    flex-direction: column;

    .content-wrap {
      flex: 1 0 auto;
    }
  }

  footer.content-info { margin-top: auto; }
}

html {
  scroll-padding-top: 100px;
}

//General body styles
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Prevent iOS autozoom when focusing
@include media-breakpoint-down(md) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

main {
  padding-top: 101px;
  background: url("../images/bg-opacity-40.webp") no-repeat center center;
  background-size: cover;
  @include media-breakpoint-up(xl) {
    padding-top: 147px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
}

.page:not(.home),
.woocommerce-page,
.single,
.archive,
.search,
.error404 {
  :where(.wrap) {
    padding-top: 3rem;
    padding-bottom: 2rem;
    @include media-breakpoint-up(xl) {
      padding-top: 5rem;
      padding-bottom: 4rem;
    }
  }
}

.has-top-image {
  .wrap {
    padding-top: 0;
  }
}

.page:not(.home, .wide-layout),
.single,
.archive,
.search-results,
.error404 {
  main {
    .main-content-wrapper {
      max-width: $container-narrow;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

video {
  object-fit: cover;
}

.ratio {
  &::before {
    @include media-breakpoint-down(lg) {
      padding-top: 400px;
    }
  }

  img {
    object-fit: cover;
    color: transparent;
  }
}

.dark-overlay {
  z-index: 1;
  background-color: rgb(0 0 0 / 28%);
}

.alert {
  font-size: 1rem;
}

iframe {
  max-width: 100%;
}

//General SVG styles. Each SVG has .icon class (set in theme/config/svg.php)
.icon {
  width: 1rem;
  height: auto;
}
