.edit-post-visual-editor {
  margin: 40px;
}

.wp-block[data-type="core/widget-area"] {
  max-width: 90%;
  margin-top: 20px;
}

.low-wysiwyg iframe {
  height: 160px !important;
  min-height: 160px!important;
}

.is-style-arrow {
  .wp-element-button {
    background-color: transparent!important;
    color: black!important;
  }
}
