.btn {
  //--bs-btn-padding-x: 0.75rem;
  //--bs-btn-padding-y: 0.375rem;
  //--bs-btn-border-radius: 0.375rem;
  //--bs-btn-font-weight: 700;

  font-family: $font-secondary;
}

.btn-search {
  svg {
    width: 18px;
    height: auto;
  }

  &[aria-expanded="true"] {
    svg path {
      stroke: $primary;
    }
  }
}

.is-style-fill {
  a {
    @include hover-focus-active {
      background-color: $blue-light!important;
    }
  }
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
}

.btn-orange {
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bs-orange);
  --bs-btn-border-color: #{shade-color($orange, 10%)};
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($orange, 10%)};
  --bs-btn-hover-border-color: #{shade-color($orange, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($orange, 20%)};
  --bs-btn-active-border-color: #{shade-color($orange, 20%)};
}

.has-primary-background-color {
  font-family: $font-secondary;

  @include hover-focus-active {
    background-color: #{shade-color($orange, 10%)} !important;
  }
}

.btn-modal {
  gap: 10px;

  svg {
    width: 16px;
    height: auto;

    path {
      fill: $white;
    }

    .fa-secondary {
      opacity: 0.8;
    }
  }
}

.is-style-arrow {
  a {
    padding: 0;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: $font-secondary;
    font-weight: bold;
    color: $orange;
    @include theme-transition;

    &::after {
      content: "";
      display: inline-block;
      height: 14px;
      width: 16px;
      background-image: escape-svg(url("data:image/svg+xml,<svg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M15.0929 8.11051L15.9036 7.29035L15.0964 6.47019L9.95357 1.24438L9.14286 0.420593L7.52857 2.06454L8.33571 2.88471L11.5286 6.12906H1.14286H0V8.45164H1.14286H11.525L8.33214 11.696L7.52857 12.5162L9.14286 14.1601L9.95 13.3399L15.0929 8.11414V8.11051Z' fill='#f15c28'/></svg>"));
      background-repeat: no-repeat;
      background-size: 16px auto;
      background-position: center center;
    }

    @include hover-focus-active {
      gap: 16px;
    }
  }
}

.wp-block-loginout a {
  background-color: $primary;
  color: $white;
  padding: 6px 12px;

  @include hover-focus-active {
    background-color: #{shade-color($primary, 10%)} !important;
  }
}

.menu-item-orange a {
  background-color: $orange;
  color: $white;
  padding: 4px 12px;

  @include hover-focus-active {
    background-color: #{shade-color($orange, 10%)} !important;
  }
}
