.wp-block-create-block-carousel {
  .ratio {
    max-height: 1024px;
  }

  .carousel-caption {
    z-index: 2;
    bottom: 50%;
    transform: translateY(50%);
    left: 0;
    right: 0;
    padding-bottom: 43px;
    padding-top: 43px;
    text-align: left;
    @include media-breakpoint-up(md) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .carousel-caption-inner {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: flex-start;

      @include media-breakpoint-up(md) {
        max-width: 800px;
      }

      > * {
        margin: 0;
      }

      .wp-element-button {
        background-color: $orange;
        @include theme-transition;

        a {
          color: $white;
        }

        @include hover-focus-active {
          background-color: darken($orange, 10%);
        }
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    z-index: 10;
    width: 20px;
    display: none;
    @media (width >= 1550px) {
      display: flex;
      width: 5%;
    }
  }

  .carousel-indicators {
    justify-content: flex-start;
    max-width: $container;
    @include make-container;
  }
}
