.wp-block-row,
.wp-block-group {
  margin-bottom: 2rem;
  @include media-breakpoint-up(md) {
    margin-bottom: 3rem;
  }
}

.entry-content {
  .wp-block-row,
  .wp-block-group {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
