.wp-block-latest-posts {
  &:not(.is-grid) {
    li {
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid #CDCDCD;
      display: flex;
      flex-direction: column;
      gap: 4px;
      position: relative;
      padding-right: 20px;

      &:last-child {
        border-bottom: 1px solid #CDCDCD;
      }

      &::after {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        display: inline-block;
        height: 14px;
        width: 16px;
        background-image: escape-svg(url("data:image/svg+xml,<svg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M15.0929 8.11051L15.9036 7.29035L15.0964 6.47019L9.95357 1.24438L9.14286 0.420593L7.52857 2.06454L8.33571 2.88471L11.5286 6.12906H1.14286H0V8.45164H1.14286H11.525L8.33214 11.696L7.52857 12.5162L9.14286 14.1601L9.95 13.3399L15.0929 8.11414V8.11051Z' fill='#F15C28'/></svg>"));
        background-repeat: no-repeat;
        background-size: 16px auto;
        background-position: center center;
        @include theme-transition;
      }

      time {
        order: 1;
      }

      > a {
        order: 2;
        color: $body-color;
        font-weight: 600;
        line-height: 1.2;
        @include font-size(20px);
        @include hover-focus-active {
          color: $link-color;
        }
      }

      @include hover-focus-active {
        &::after {
          right: 6px;
        }
      }
    }
  }

  &.is-grid {
    display: grid;
    gap: 1rem;
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(3, 1fr);
    }

    li {
      background-color: rgba($primary, 0.10);
      padding: 22px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 0!important;
      width: auto;

      time {
        order: 1;
      }

      > a {
        order: 2;
        color: $body-color;
        font-weight: 600;
        line-height: 1.2;
        @include font-size(22px);
        @include hover-focus-active {
          color: $link-color;
        }
      }

      > div {
        order: 3;
      }
    }
  }
}
