.numbers-module {
  h1 {
    margin-bottom: 0;

    &::after {
      content: " ";
      display: block;
      width: 1px;
      height: 25px;
      margin: 6px auto;
      background-color: $primary;
    }
  }

  .wp-block-columns {
    @include media-breakpoint-down(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
