.navbar-top {
  --bs-navbar-padding-y: 6px;

  background-color: $secondary;

  .navbar-nav {
    --bs-nav-link-color: #fff;
    --bs-nav-link-hover-color: #EFF6FC;

    .nav-link {
      --bs-nav-link-padding-y: 0;

      @include hover-focus-active {
        text-decoration: underline;
        text-decoration-color: var(--bs-white);
        text-underline-offset: 4px;
      }
    }
  }
}
