.navbar {
  .nav-item {
    @include wp-current-menu-item {
      > a {
        text-decoration: underline;
        text-decoration-color: var(--bs-primary);
        text-underline-offset: 4px;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}
