@include media-breakpoint-up(xl) {
  .navbar-primary {
    padding-top: 0;
    padding-bottom: 0;

    .navbar-nav {
      --bs-nav-link-color: var(--bs-body-color);
      --bs-nav-link-hover-color: var(--bs-primary);

      margin-left: 213px;

      .sub-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-1rem);
        @include theme-transition;
      }

      > .nav-item {
        > .nav-link {
          @include theme-transition;

        --bs-nav-link-padding-y: 32px;
        --bs-nav-link-font-weight: 500;
        --bs-navbar-nav-link-padding-x: 12px;
        }

        &.menu-item-has-children {
          position: relative;

          &:hover,
          &:focus,
          &:focus-within {
            .sub-menu {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
          }

          > .sub-menu {
            position: absolute;
            top: 100%;
            left: 0;
            background-color: rgb(246 250 253 / 100%);
            padding: 1rem;
            min-width: 280px;
            font-size: 15px;
            font-weight: 500;
            box-shadow: 0 7px 7px 0 rgb(0 0 0 / 15%);

            .sub-menu {
              a {
                padding-left: 1.5rem;
                font-weight: 400;
              }

              .sub-menu {
                a {
                  padding-left: 2rem;
                }
              }
            }
          }
        }
      }
    }

    .sub-menu {
      display: none;
    }
  }
}
